*.class
*.dex
*.apk
*.swp
*~
classes
tmp
build/*
bin
data
.classpath
.project
*.pbxuser
*.perspectivev3
.settings/*.prefs
.DS_Store
local.properties
android-sdk
.metadata
gen
default.properties
build.properties
export.properties
builds
private/
workspace.xml
profiles_settings.xml
scope_settings.xml
compiler.xml
encodings.xml
misc.xml
.name
.settings/
.idea/
.gradle/
gradle/